# FIREBASE
FIREBASE_APIKEY=
FIREBASE_AUTHDOMAIN=
FIREBASE_DATABASEURL=
FIREBASE_PROJECTID=
FIREBASE_STORAGEBUCKET=
FIREBASE_MESSAGINGSENDERID=
FIREBASE_APPID=

# WEATHER
WEATHER_BASE_URL="http://api.weatherstack.com/current"
WEATHER_APIKEY=e4a838a6271dde6253a77005e6987785

# STOCK EXCHANGE
SE_BASE_URL="https://www.alphavantage.co/query?function"
SE_APIKEY=9F2MY2AUW7PRK4K0

# POKEMON
POKEAPI_BASE_URL=https://pokeapi.co/api/v2

# STEAM
STEAM_ID=76561198310497853
STEAM_APIKEY=2B3DC2DDAEE1184A472F478B601EC52B

# REDDIT
REDDIT_BASE_URL="https://www.reddit.com"

# YOUTUBE
YOUTUBE_BASE_URL="https://www.googleapis.com/youtube/v3/"
YOUTUBE_APIKEY=AIzaSyAyWsBUsAChiYPDOptU-NBAh_p7oExR1oc

