//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding component variables.
//  ================================================================================================

$theme-dark-card-bg: $ogg_gray !default;
$theme-dark-input-bg: $ogg_gray !default;
$theme-dark-table-bg: $ogg_gray !default;
$theme-dark-table-row-bg: $ogg_gray !default;